#quit {
    -fx-image: url('./Sprites/quit_button.png');
}

#quit:hover {
    -fx-image: url('./Sprites/quit_selected.png');
}

#returnMenu{
    -fx-image: url('./Sprites/return_menu.png');
}

#returnMenu:hover {
    -fx-image: url('./Sprites/return_menu_selected.png');
}